<h2>{{vm.work.title}}!</h2>
<p>{{vm.work.text}}</p>

<div class="panel-group">
  <div ng-if="vm.myuser && !vm.myuser.teacher" class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse">Моя работа</a>
      </h4>
    </div>
    <div id="collapse1" class="panel-collapse">
      <div class="panel-body">
          <form ng-if="vm.myjob != null && vm.myjob.id == '0'" name="form" ng-submit="vm.sendjob()" role="form">
              <label for="comment">Комментарий:</label>
              <textarea class="form-control" rows="2" id="comment" ng-model="vm.myjob.comment"></textarea>
              <br>
              <label for="file" class="control-label">Проект:</label>
              <input type="file" class="filestyle" data-buttonName="btn-primary" ng-model="vm.filename" fileread="vm.file" data-file />
              <br>
              <button type="submit" ng-disabled="form.$invalid" class="btn btn-primary">Отправить</button>
          </form>
          <div ng-if="vm.myjob != null && vm.myjob.id != '0'" ng-click="vm.tojob(vm.myjob.id)">
              <p ng-if="vm.myjob.rate">Оценка: <span class="label label-info">{{vm.myjob.rate.rate}}</span></p>
              <a>Просмотр</a>
          </div>
    </div>
    </div>
  </div>
</div>

<div class="panel-group">
<div class="panel panel-warning">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse">Работы</a>
      </h4>
    </div>
<div id="collapse1" class="panel-collapse">
      <ul class="list-group">
          
        <li class="list-group-item" ng-repeat="job in vm.jusers">
            <p ng-click="vm.tojob(job.id)">{{job.user.firstName+" "+job.user.lastName}} <span class="label label-info">{{job.rate.rate}}</span></p>
            
        </li>
      </ul>
</div>
</div>
</div>
<a href="#/" class="btn btn-default btn-block">Назад</a>