<h2>Привет, {{vm.myuser.firstName+" "+vm.myuser.lastName}}! <a href="#/profile" class="btn btn-warning">Профиль</a> <a href="#/login" ng-click="vm.logout()" class="btn btn-danger">Выйти</a></h2>
<p>Статус: {{vm.status}}</p>
<br>
<div class="panel-group">
<div class="panel panel-primary">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse">Доступные задания:</a>
      </h4>
    </div>
<div id="collapse1" class="panel-collapse">
      <ul class="list-group">
          <li class="list-group-item" ng-repeat="work in vm.works">
              <p ng-click="vm.towork(work.id)">{{work.work.title}}</p>
              <div ng-if="vm.myuser.teacher">
                  ( <a ng-click="vm.editwork(work.id)">Изменить</a> / <a ng-click="vm.deletework(work.id)">Удалить</a> )
                </div>
          </li>
          <div ng-if="vm.myuser.teacher" class="panel-footer">
              <a  href="#/work/create" class="btn btn-primary btn-block">Добавить задание</a>
          </div>
      </ul>
</div>
</div>
</div>
<p>&nbsp;</p>